---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import SoftwareEquipment from '../components/SoftwareEquipment.astro';
import HowToUse from '../components/HowToUse.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';


---

<Layout>
  <Header />
  <main>
    <Hero />
    <Services />
    <SoftwareEquipment />
    <HowToUse />
    <ContactSection />
  </main>
  <Footer />
</Layout>
